*
{

    margin: 0;
    padding: 1rem;
    list-style: none;
    border: 1px solid #f00;
    box-sizing: border-box;
    font-family: 'Popins',sans-serif;
}
body
{
    justify-content: center;
    align-items: center;
    width: 375px;
    height: 638px;
    background-color: #fff;
}
.search
{
    position: relative;
    width: 343px;
    height: 43px;
    background-color: #fff;
    border-radius: 8px;
    transition: 0.5s;
}
.search .input
{
    position: relative;
    width: 343px;
    height: 43px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0;
    outline: none;
    color: #8b7d77;
}
.search .input input
{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 8px;
    padding: 10px 20px;

}
.search .input .btn
{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 43px;
    height: 100%;
    background-color: #fff;

}
.search .input .btn .icon-inner
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.destination
{
    position: relative;
    width: 343px;
    height: 43px;
    background-color: #fff;
    border-radius: 8px;
    transition: 0.5s;
}

.destination .input
{
    position: relative;
    width: 343px;
    height: 43px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0;
    outline: none;
    color: #8b7d77;
}

.destination .input input
{
    position: absolute;
    top: 1px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 8px;
    padding: 10px 20px;
}
.destination .input .btn
{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 43px;
    height: 100%;
    background-color: #fff;

}

.navigation
{
    position: relative;
    width: 354px;
}

.navigation ul li
{
    position: relative;
    list-style: none;
    width: 145px;
    height: 110;;
    z-index: 1;
}
.navigation ul li a
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000;
    text-align: center;

}
.navigation ul li a .icon-1
{
    position: relative;
    justify-content: center;
    line-height: 40px;
    transition: 0.5s;
    background: #3FB195;
    width: 70px;
    height: 70px;
    border-radius: 35px;
}
.navigation ul li a .icon-2
{
    position: relative;
    justify-content: center;
    line-height: 40px;
    transition: 0.5s;
    background: #FF9999;
    width: 70px;
    height: 70px;
    border-radius: 35px;
}
.navigation ul li a .icon-3
{
    position: relative;
    justify-content: center;
    line-height: 40px;
    transition: 0.5s;
    background: #81A4FF;
    width: 70px;
    height: 70px;
    border-radius: 35px;
}
.navigation ul li a .icon-4
{
    position: relative;
    justify-content: center;
    line-height: 40px;
    transition: 0.5s;
    background: #C17B53;
    width: 70px;
    height: 70px;
    border-radius: 35px;
}

.navigation ul li a .icon-5
{
    position: relative;
    justify-content: center;
    line-height: 40px;
    transition: 0.5s;
    background: #C499FF;
    width: 70px;
    height: 70px;
    border-radius: 35px;
}
.navigation ul li a .icon-6
{
    position: relative;
    justify-content: center;
    line-height: 40px;
    transition: 0.5s;
    background: #64C5E3;
    width: 70px;
    height: 70px;
    border-radius: 35px;
}

.navigation ul li a .icon-7
{
    position: relative;
    justify-content: center;
    line-height: 40px;
    transition: 0.5s;
    background:#FD975E;
    width: 70px;
    height: 70px;
    border-radius: 35px;
}
.navigation ul li a .icon-8
{
    position: relative;
    justify-content: center;
    line-height: 40px;
    transition: 0.5s;
    background: #8FCA6B;
    width: 70px;
    height: 70px;
    border-radius: 35px;
}
.navigation ul li a .icon-8 .twicon-balloon
{   
    position: relative;
    color: #fff;

}

.indicator
{
    position: absolute;
    left: 0;
    width: 163.5px;
    height: 110px;
    background-color: #fff;
    border-radius: 8px;
    transition: 0.5s;
    border: 1.5px solid #3FB195;
}
.drop-down-menu .county
{
    position: absolute;
    left: 0;
    width: 78px;
    height: 40px;
    background-color: #fff;
    border-radius: 8px;
    transition: 0.5s;
    border: 1.5px solid #3FB195;
}
.illustration
{
    position: absolute;
    width: 1008px;
    height: 670px;
    left: 585px;
    top: 81px;
    background: url(image.png);
}
